* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.text-black {
  color: black;
  font-weight: 900;
  font-size: 0.9rem;
}

.nav-top-2 a {
  font-size: 16px;
  font-weight: bold;
  padding-right: 6px;
}

.max-w-total {
  max-width: 1320px;
}

#newsletter {
  display: none;
}

.black-font-big {
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
  line-height: 1.6rem;
}

.black-font-opinion {
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
  line-height: 1.6rem;
}

.black-font-medium {
  font-size: 0.81rem;
  font-weight: bold;
  color: black;
  line-height: 20px;
}

.story-h1 {
  font-size: 1rem;
  color: #9a9a9a;
  font-weight: 600;
}

.small-font {
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
}

.medium-font {
  font-size: 1.6rem;
}

.primary-font {
  font-family: Arial, Helvetica, sans-serif;
}

.all-feature {
  font-size: 15px;
}

.header-logo {
  width: 132px;
  height: 20px;
}

.btn-warning {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 7px;
  border: none;
  border-radius: 12px;
  line-height: 16px;
  background-color: #ffe400;
  padding: 2px 3px;
}

.fa-user,
.fa-bars {
  color: #fdc8c3;
}


.art-story a {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: black;
}

.art-story p {
  font-size: 0.81rem;
  line-height: 1.125rem;
}

.border-top-gross {
  border-top: 4px solid #d9d9d9;
}

.border-bottom-gross {
  border-bottom: 4px solid #d9d9d9;
}

.border-top-double {
  border-top: 3px double #d9d9d9;
}

.border-top-double::before {
  content: "vs";
  font-size: 1.2rem;
  font-weight: bold;
  background-color: black;
  color: #d6d6d6;
  border-radius: 50%;
  position: relative;
  display: block;
  bottom: 2.2rem;
  left: 50%;
  padding: 0.1rem 0.3rem;
}

.text-form-size {
  font-size: 1.187rem;
}

.font-title-more-stories {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 1.05rem;
  color: black;
  font-weight: 700;
}

.font-p-more-stories {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.81rem;
  color: black;
}

.font-p-my-turn {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #818181;
}

.after-cover-text {
  color: #f72210;
  font-weight: bold;
}

.editor-pick-text {
  font-size: 0.81rem;
  line-height: 18px;
  color: #555;
}

.black-font-news {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  color: black;
}

.font-text-us {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2rem;
  color: black;
  font-family: "roboto condensed", Arial, Helvetica, sans-serif;
}

.img-sub-1 {
  left: -50px;
  top: 0;
  margin-left: 25px;
}

.img-sub-2 {
  left: -30px;
  top: 8px;
  margin-left: 60px;
}

.n-btn {
  font-weight: bold;
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 28px;
  padding-left: 0;
}

.sign-up {
  margin: 20px;
}

.magazine-logo {
  padding-bottom: 12px;
  padding-right: 12px;
}

.articles img {
  padding-top: 15px;
  padding-right: 10px;
}

.email {
  border-right: none;
}

.articles-para {
  height: 12px;
}

.subs-btn {
  font-size: 1rem;
}

.subs-btn-2 {
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30px;
}

.login-nav,
.offer-nav {
  display: none;
}

.phone-display {
  display: none;
}

@media (max-width: 768px) {
  .fixed-sm-top {
    position: fixed;
    top: 0;
    z-index: 999;
  }
}

@media (min-width: 768px) {
  .login-nav,
  .offer-nav {
    display: initial;
  }

  .user-nav {
    display: none;
    visibility: hidden;
  }

  .first-sponsor,
  .second-sponsor {
    display: none;
  }

  .medium-none {
    display: none;
  }

  .medium-show {
    display: initial;
  }

  .img-sub-1 {
    left: 40px;
    top: 0;
    margin-left: -25px;
  }

  .img-sub-2 {
    left: 20px;
    top: 8px;
  }

  .imgs-sec {
    height: 280px;
  }

  .sign-up-tablet {
    display: none;
  }


  #newsletter {
    background-color: #f4f5f6;
    border: 1px solid #e5e5e5;
    width: 50%;
    margin: 2rem auto;
    display: block;
  }
}

@media (min-width: 992px) {
  .big-show {
    display: inherit;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .sign-up-desk {
    margin-left: 10px;
  }

  .big-none {
    display: none;
  }

  .header-logo {
    width: 396px;
    height: 60px;
  }

  .big-img-magazine {
    height: 250px;
  }

  .btn-down {
    display: flex;
    flex-direction: column;
  }

  .imgs-sec {
    height: 300px;
  }

  #newsletter {
    display: none;
  }
}
