* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
      background-color: #fe0500;
  }

.brd-radius{
    border-radius: 15px;
}
.nav-bar-height{
    height: 140px;
    background-color: #fe0500;
    color: white;
}
.br-none{
    border: none;
}
.rnd-circle{
    background-color: black;
    border-radius: 50%;
    color: white;
    text-align: center;
    width: 11%;
    margin: 0 auto;
    position: absolute;
    top: 2.3%;
    left: 43%;
    height: 33px;  
}
.vs-circle{
    position: relative;
}
.br-style{
    border-bottom: double;
    color: #d9d9d9;
}

.border-btm{
    border-bottom: 5px solid #d9d9d9;
}
.img{
    background-image: url(images/kamala-harris-mike-pence-debate\ .jpg);
      
}
.img-prop{
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 54%; 
}
.bck-cl{
    background-color: #e9e9e9;
    color: red;
    border-radius: 0
}
.bttn-w-h{
    width: 16%;
    height: 51px;
}
.card-customize {
    height: 235px;
}
.img-1{
    background-image: url(images/donald-trump-joe-biden.webp);  
}
.img-cult-trvl-1{
    background-image:url(images/cul-trvl-1.png);
}
.img-cult-trvl-2{
    background-image:url(images/cul-trvl-2.jpg);
}
.img-cult-trvl-3{
    background-image:url(images/cul-trvl-3.jpg);
}
.more-stories-img{
    width: 100%;
    height: auto;
}
.rt-sdbr-img-1{
    background-image: url(images/rt-sdbr-img-1.png);
}
.rt-sdbr-img-2{
    background-image: url(images/rt-sdbr-img-2.jpg);
}
.rt-sdbr-img-3{
    background-image: url(images/rt-sdbr-img-3.jpg);
}
.rt-sdbr-img-4{
    background-image: url(images/rt-sdbr-img-4.jpg);
}
.rt-sdbr-img-5{
    background-image: url(images/rt-sdbr-img-5.jpg);
}
.rt-sdbr-img-6{
    background-image: url(images/rt-sdbr-img-6.png);
}

.inthe-mgz-img1{
    background-image: url(images/cover-1.jpg);
}
.inthe-mgz-img1-prop{
    padding-top: 120%; 
}
.inthe-mgz-img2{
    background-image: url(images/cover-2.jpg);
}
.inthe-mgz-img3{
    background-image: url(images/cover-3.jpg);
}
.inthe-mgz-img4{
    background-image: url(images/cover-4.jpg);
}
.inthe-mgz-img5{
    background-image: url(images/cover-5.jpg);
}
.inthe-mgz-img6{
    background-image: url(images/cover-6.jpg);
}
.inthe-mgz-img7{
    background-image: url(images/cover-7.jpg);
}
.inthe-mgz-img8{
    background-image: url(images/british-international-school-washington.jpg);
}
.mag-cat{
    color: white;
    font-weight: 600;
    padding: 11px;
    background: red;
}
.br-radius{
    border-radius: 0
}
.inthe-mgz-img-prop{
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 92%;
    background-position-x: center; 
}


.img6 {
    width: 9rem;
    height: 6.4rem;
  }

  .red-text a {
    color: inherit;
    text-decoration: none;
    font-size: 12px;
    line-height: 1px;
    padding: auto;
  }

  .red-text a:hover {
    color: red;
    text-decoration: none;
    font-weight: bold;
  }


.img8 {
    width: 17rem;
    height: 22.7rem;
    left: 6rem;
  }
  .img7 {
  
    width: 17rem;
    height: 22.7rem;
  
   
  }

